<ion-header>
  <ion-toolbar>
    <ion-title>{{ Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <span class="slider-nav arrow-prev" (click)="slidePrev(sliderOne,slideWithNav)">
      <div class="prev-icon-custom custon-nav" [class.disabled]="sliderOne.isBeginningSlide"></div>
    </span>




    <ion-grid>
      <ion-row>

        <ion-col>
          <div>
            <ion-card (click)="goRecover()">
              <ion-card-header>
                <div align="center">
                  <img src="assets/img/tutorial/recover-password.png" class="slide-icone" />
                  <br>
                  Forgot Password

                </div>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-card (click)="goSignup()">
              <ion-card-header>
                <div align="center">
                  <img src="assets/img/tutorial/newuser.png" class="slide-icone" />
                  <br>
                  Sign up
                  <br><br>
                </div>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>

        <ion-col>
          <div>
            <ion-card  (click)="goLogin()">
              <ion-card-header>
                <div align="center">
                  <img src="assets/img/tutorial/login.png" class="slide-icone"/>
                  <br>
                  Login
                  <br><br>
                </div>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-grid>

</ion-content>


<ion-header>
    <ion-toolbar>
      <ion-title>{{ Tutorial</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-grid>
      <span class="slider-nav arrow-prev" (click)="slidePrev(sliderOne,slideWithNav)">
        <div class="prev-icon-custom custon-nav" [class.disabled]="sliderOne.isBeginningSlide"></div>
      </span>
  
      <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
        (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)" *ngFor="let item of textos.PAGE_SLIDES; index as i;">
  
  
  <label>Emilio Dami Silva {{i}}, {{item.id}}, {{item.text}}, {{item.title}}</label>
  
  
        <ion-slide> 
          <img src="assets/img/tutorial/slide1.png" class="slide-image" />
          <h2 class="slide-title">
            Welcome to
            {{textos.LAYOUT_APP_NAME}}         
          </h2>
          <p>
            is a practical, modern and simple manager propierty for landlords and tenants.
            Your main functions is manage your properties, manage maintenance of your units and rental receipt
            management.
          </p>
        </ion-slide>
  
        <ion-slide>
          <img src="assets/img/tutorial/slide2.png" class="slide-image" />
          <h2 class="slide-title">Manager your properties</h2>
          <p>
            <b>Maint247 app</b> lts you know everything in real time, everything that is happening
            on your property, a dashboard for you to manage your property..
  
          </p>
        </ion-slide>
  
        <ion-slide>
          <img src="assets/img/tutorial/slide3.png" class="slide-image" />
          <h2 class="slide-title">Manage Maintenance</h2>
  
          <p>
            <b>Maint247 app</b> manages the maintenance of your units, the tenant can open an order, take photos and
            send to the application and and monitor the maintenance.
            <br>
          </p>
        </ion-slide>
        <ion-slide>
          <img src="assets/img/tutorial/slide4.png" class="slide-image" />
          <h2 class="slide-title">Rental Receipt Management</h2>
          <p>
            <b>Maint247 app</b> the tenant can pay the rent online and directly on the mobile,
            By transferring money directly to the owner's account via PayPal, there is no more delay.
  
          </p>
        </ion-slide>
      </ion-slides>
  
      <ion-grid>
        <ion-row>
  
          <ion-col>
            <div>
              <ion-card (click)="goRecover()">
                <ion-card-header>
                  <div align="center">
                    <img src="assets/img/tutorial/recover-password.png" class="slide-icone" />
                    <br>
                    Forgot Password
  
                  </div>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-card (click)="goSignup()">
                <ion-card-header>
                  <div align="center">
                    <img src="assets/img/tutorial/newuser.png" class="slide-icone" />
                    <br>
                    Sign up
                    <br><br>
                  </div>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-col>
  
          <ion-col>
            <div>
              <ion-card  (click)="goLogin()">
                <ion-card-header>
                  <div align="center">
                    <img src="assets/img/tutorial/login.png" class="slide-icone"/>
                    <br>
                    Login
                    <br><br>
                  </div>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-col>
  
        </ion-row>
      </ion-grid>
  
    </ion-grid>
  
  </ion-content>
  