<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>  
    <ion-title>{{ global.name }} - View Orders</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-fab *ngIf="ImLandLord()" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success" class="pt-xs--4" (click)="newOrder()">
        <ion-icon name="add"></ion-icon>        
      </ion-fab-button>
    </ion-fab>
    <ion-card *ngFor="let item of listTodayOrders">
      <ion-card-content>
      <p *ngIf="item.id" style='font-size: 11px;'>
        Order: {{ item.id }} Date: {{ item.date_created_string | date:"MM/dd/yyyy" }} <br />        
      </p>
      <div *ngIf="item.building_name">
            <br />
            {{ item.building_name }} - {{ item.unit_name }} <br />
      </div>
      <strong>
        <p *ngIf="item.service_name" style='font-size: 11px;'>
        Service: {{ item.service_name }}<br />
      </p>
     </strong>
    <p *ngIf="item.description_created" style='font-size: 11px;'>
        Description: {{ item.description_created }} <br />  
      </p>
      <p *ngIf="item.status" style='font-size: 11px;'>
        Status: {{ item.status }}
      </p>
      <ion-img *ngIf="item.imagem" style="width: 75px; height: 75px;" src="{{ item.imagem }}"></ion-img>
      <script id="modal.html" type="text/ng-template">
        <div class="modal" ng-click="closeModal()">
          <ion-content>
            <img *ngIf="item.imagem" src="{{ item.imagem }}" style="display:block; 75px; max-width:75px; margin:auto"/>
          </ion-content>
        </div>
      </script>
      <br />
      <div class="text-xs-center">
        <ion-button color="success" class="pt-xs--4" ion-button                   
          (click)="takePicture(
          item.id, item.building_name, item.unit_name, item.date_created_string, item.status
          )">        
          <ion-icon name="camera"></ion-icon>
          Take Picture        
        </ion-button> 
        <!-- Only start  Work Order is the Supervisor and the status must be OPENED -->
        <ion-button color="primary" *ngIf="canStartOrder(item.status)" class="pt-xs--4" ion-button 
          (click)="startOrder( 
            item.id, item.building_name, item.unit_name, item.date_created_string, item.status
          )"> 
          <ion-icon name="play-circle"></ion-icon>
          Start 
        </ion-button>
        <!-- Only close Word Order is the Supervisor and the status must be PROCESS -->
        <ion-button color="primary" *ngIf="canCloseOrder(item.status)" class="pt-xs--4" ion-button 
          (click)="closeOrder(
            item.id, item.building_name, item.unit_name, item.date_created_string, item.status
          )"> 
          <ion-icon name="power"></ion-icon>
          Close
        </ion-button>
        <!-- Only approver Work Order is the Manager and the status must be CLOSED -->                       
        <ion-button color="primary" *ngIf="canApproveOrder(item.status)" class="pt-xs--4" ion-button                   
          (click)="approveOrder(
            item.id, item.building_name, item.unit_name, item.date_created_string, item.status
          )"> 
          <ion-icon name="checkmark-circle"></ion-icon>
          Approve 
        </ion-button>
        <!-- Only approver Work Order is the Manager and the status must be CLOSED -->                       
        <ion-button color="secondary" class="pt-xs--4" ion-button                   
          (click)="historyOrder(
            item.id, item.building_name, item.unit_name, item.date_created_string, item.status)">
          <ion-icon name="logo-buffer"></ion-icon>
          History 
        </ion-button> 
      </div>   
    </ion-card-content>    
  </ion-card>
</ion-content>