<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ global.name }} - Payments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card" *ngFor="let item of listContracts">
    <ion-img src="../../assets/img/paypal/paypal.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Your Payment Rent Month<br /></ion-card-subtitle>
      <ion-card-title>PayPal</ion-card-title>
      <ion-row>
        <ion-col>
          Total Payment
        </ion-col>
        <ion-col>
          {{currencyIcon}} {{ item.rent }}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="payWithPaypal(
        item.paypalid,
        item.rent, 
        item.unit,
        item.contract,
        item.landlord,
        item.tenant
      )">Pay with PayPal</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
