<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>  
    <ion-title>{{ global.name }} - Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of listServices">
      <ion-item-sliding>

        <ion-item (click)="appointment(item.id, item.description)">

          <ion-thumbnail slot="start">
            <div ngSwitch="{{item.description}}">
              <div *ngSwitchCase="'PAINTING'" >
                <img 
                  src="../../assets/img/services/painting.png" 
                  width="50px" 
                  height="50px" 
                  style="border-radius: 20%;">
              </div>
              <div *ngSwitchCase="'CLEANING'" >
                <img 
                  src="../../assets/img/services/cleaning.png" 
                  width="50px" 
                  height="50px" 
                  style="border-radius: 20%;">
              </div>
              <div *ngSwitchCase="'CARPENTRY'" >
                <img 
                  src="../../assets/img/services/carpentry.png" 
                  width="50px" 
                  height="50px" 
                  style="border-radius: 20%;">
              </div>
              <div *ngSwitchCase="'FLOORING'" >
                <img 
                  src="../../assets/img/services/flooring.png" 
                  width="50px" 
                  height="50px" 
                  style="border-radius: 20%;">
              </div>
              <div *ngSwitchCase="'COUNTERTOPS'" >
                <img 
                  src="../../assets/img/services/countertops.png" 
                  width="50px" 
                  height="50px" 
                  style="border-radius: 20%;">
              </div>
              <div *ngSwitchCase="'TILES-BACKSPLASH'">
                <img 
                  src="../../assets/img/services/tiles.png" 
                  width="50px" 
                  height="50px" 
                  style="border-radius: 20%;">
              </div>
              <div *ngSwitchCase="'ELECTRICAL'" >
                <img 
                  src="../../assets/img/services/electrical.png" 
                  width="50px" 
                  height="50px" 
                  style="border-radius: 20%;">
              </div>
              <div *ngSwitchCase="'PATCHES'" >
                <img 
                  src="../../assets/img/services/patches.png" 
                  width="50px" 
                  height="50px" 
                  style="border-radius: 20%;">
              </div>
              <div *ngSwitchCase="'TOUCH-UP'" >
                <img 
                  src="../../assets/img/services/touch-up.png" 
                  width="50px" 
                  height="50px" 
                  style="border-radius: 20%;">
              </div>
              <div *ngSwitchCase="'PLUMBING'" >
                <img 
                  src="../../assets/img/services/plumbing.png" 
                  width="50px" 
                  height="50px" 
                  style="border-radius: 20%;">
              </div>
              
              <div *ngSwitchCase="'EXTERIOR'" >
                <img 
                  src="../../assets/img/services/exterior.png" 
                  width="50px" 
                  height="50px" 
                  style="border-radius: 20%;">
                </div>          
           
            <div *ngSwitchCase="'MOVE-IN'">
              <img 
                src="../../assets/img/services/move-in.png" 
                width="50px" 
                height="50px" 
                style="border-radius: 20%;">
            </div>
            <div *ngSwitchCase="'MOVE-OUT'" >
              <img 
                src="../../assets/img/services/move-out.png" 
                width="50px" 
                height="50px" 
                style="border-radius: 20%;">
            </div>
            <div *ngSwitchCase="'OTHERS'" >
              <img 
                src="../../assets/img/services/others.png" 
                width="50px" 
                height="50px" 
                style="border-radius: 20%;">
            </div>



          </div>
        </ion-thumbnail>

        <ion-label>
          {{ item.description }} 
        </ion-label>

      </ion-item>
       
        <ion-item-options side="end">
          <ion-item-option (click)="appointment(item.id, item.description)">Appointment</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-item>
  </ion-list>
</ion-content>
