ion-item {
    --background: white;
    --background-focused: blue;
    --background-activated: green;
    --background-hover: blue; 
    --border-color: green;
    --border-radius: green;
    --border-style: green;
    --border-width: green;
    --box-shadow: green;


    --color: red;                 
    --color-activated: red;          
    --color-focused: red;            
    --color-hover: red;              
    --detail-icon-color: red;        



    }